# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.csv
*.json
*.pyo
*.pyd
*.env
env/
venv/
ENV/
*.egg-info/
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo
.idea/
*.iml